/Ejemplo clase 4/OLC1_Clase4/nbproject/private/
/Ejemplo clase 4/OLC1_Clase4/build/
/Ejemplo clase 5/OLC1_Clase4_archivos/build/
/Ejemplo clase 5/OLC1_Clase4_archivos/nbproject/private/
/Ejemplo clase 7/OLC1_Clase7/build/
/Ejemplo clase 7/OLC1_Clase7/nbproject/private/